<div class="question">
    <h1>Will my server be 24/7?</h1>
    <p>Each server has an uptime limit of 5 hours irrespective of the number of players online, therefore each server will be shutdown 5 hours after it has been started, servers will also shutdown when no player joins within 20 minutes after the server has been started, or when the last player leaves and no player joins within 10 minutes.</p>
</div>
<div class="question">
    <h1>Why is my country blacklisted?</h1>
    <p>Country blacklist is removed however still few countries are blacklisted due to high abuse rate or due to high traffic which we can't handle unless we heavily overload our machines which we don't want to do and it will stay in list till we can implement better solution against abuse.</p>
</div>
<div class="question">
    <h1>Is FiveM Supported?</h1>
    <p>FalixNodes Limited is a profit organization company, hence FiveM does not allow us to host FiveM servers. Due to FiveM's policy, we are not permitted to host their servers. </p>
</div>