<div class="question">
    <h1>Will my server be 24/7?</h1>
    <p>If there are players online, the server will remain online; however, servers are automatically switched off after 30 - 40 minutes of inactivity.</p>
</div>
<div class="question">
    <h1>Why is my country blacklisted?</h1>
    <p>If we don't support your country as of now, then it fails in terms of economy therefore Ads in your country don't provide us good amount of income which is required to maintain the nodes.</p>
</div>
<div class="question">
    <h1>Is FiveM Supported?</h1>
    <p>FalixNodes Limited is a profit organization company, hence FiveM does not allow us to host FiveM servers. Due to FiveM's policy, we are not permitted to host their servers. </p>
</div>