<footer>
    <div class="contentFooter">
        <div class="f_grid">
            <div>
                <h1>Founded in 2018</h1>
                <p>FalixNodes Limited allows people to play with their pals and have fun without spending a cent! Since the start, our prime aim has been to provide free hosting with no limitations, not for revenue, but as a passion. So why not use us? With only a few clicks, anyone can become a user of Falix right now!</p>
            </div>
            <div>
                <h1>About Falix</h1>
                <div class="f_links">                <a href="mailto:nikszalans@falixnodes.net">Contact Us</a>
                    <a href="{{site.baseurl}}/user-agreement/">User Agreement</a>
                    <a href="{{site.baseurl}}/privacy-policy/">Privacy Policy</a>
                    <a href="{{site.baseurl}}/refund-policy/">Refund Policy</a>
                    <a href="{{site.baseurl}}/cookie-policy/">Cookie Policy</a>
                    <a href="{{site.baseurl}}/status/">Uptime</a>
                </div>
            </div>
        </div>
        <div class="f_grid">
            <div>
                <p> © 2018-2021 FalixNodes Limited</p>
            </div>
            <div>
                <p id="social-icons"><a href="https://discord.gg/falixnodes"><i class="fab fa-discord"></i></a> <a href="https://twitter.com/FalixNodes"><i class="fab fa-twitter"></i></a> <a href="https://reddit.com/r/falixnodes"><i class="fa-brands fa-reddit"></i></a> <a href="https://instagram.com/FalixNodes"><i class="fab fa-instagram"></i></a> <a href="https://youtube.com/FalixNodes"><i class="fab fa-youtube"></i></a></p>
            </div> 
        </div>
    </div>
</footer>