<header>
    <div class="contentHeader">
        <div class="leftHeader">
            <h1 onclick="location.href = '/'">Falix</h1>
            <div id="menuHeader">
                <!-- <a class="desktop" href="/about/">About</a> -->
                <!-- <a class="desktop" href="#">Plans</a> -->
                <a class="desktop" href="https://desktop.falixnodes.net/" target="_blank">Desktop App</a>
                <a class="desktop" id="individual-link-helpcenter" href="https://help.falixnodes.net/" target="_blank">Help Center</a>
                <a class="desktop" id="individual-link-mainwebsite" href="https://falixnodes.net/" target="_blank">Main Website</a>
            </div>
        </div>
        <div class="rightHeader">
            <a id="btn" href="https://client.falixnodes.net/"><i class="fa-duotone fa-arrow-right-to-line"></i> Get Started</a>
            <a onclick="mobileMenu()" id="mobile-menu" class="mobile"><i class="fa-duotone fa-bars"></i></a>
        </div>
        <div id="mobileHeaderLinks">
            <!-- <a href="/about/">About</a> -->
            <!-- <a href="#">Plans</a> -->
            <a href="https://desktop.falixnodes.net/" target="_blank">Desktop App</a>
            <a id="individual-link-helpcenter" href="https://help.falixnodes.net/" target="_blank">Help Center</a>
            <a id="individual-link-mainwebsite" href="https://falixnodes.net/" target="_blank">Main Website</a>
        </div>
    </div>
</header>