<head>
    <title>{{page.title}}</title>
    
    <meta name="theme-color" content="#2970cc">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="256x256" href="{{site.baseurl}}/assets/images/icons/favicon/256x256.png">
    <link rel="icon" type="image/png" sizes="64x64" href="{{site.baseurl}}/assets/images/icons/favicon/64x64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/images/icons/favicon/32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/images/icons/favicon/16x16.png">

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/fonts.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
    <script src="https://kit.fontawesome.com/fc093d7fbf.js" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script> 
    <script src="https://scripts.korbsstudio.com/ie-detect/dis-allow.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5572567098969441" crossorigin="anonymous"></script>
    <script>GetIEVersion()</script>
</head>
<header id="h_">
    <div class="h_content">
        <div class="h_left">
            <h1 style="cursor: pointer;" onclick="location.href = '{{ base.url | prepend: site.url }}/'">Falix</h1>
        </div>
        <div class="h_right">
            <div class="if_mobile">
                <a id="ges" href="https://client.falixnodes.net/">Get Started</a>
            </div>
            <div class="if_desktop">
                <a href="https://help.falixnodes.net/" target="_blank">Help Center</a>
                <a onmouseover="open_dropdown_apps();" onmouseleave="close_dropdown_apps();">Apps</a>
                <ui onmouseover="open_dropdown_apps();" onmouseleave="close_dropdown_apps();" class="dropdown" id="dropdown_apps">
                    <li onclick="location.href = 'https://software.falixnodes.net/'"><i class="fas fa-desktop"></i> Desktop Software</li>
                    <li onclick="location.href = 'https://play.google.com/store/apps/details?id=net.falixnodes.falixcoins'"><i style="margin: 0px 13px 0px 8px;" class="fas fa-mobile-alt"></i> FalixCoins</li>
                </ui>
                <a id="ges" onmouseover="open_dropdown_getStarted();" onmouseleave="close_dropdown_getStarted();">Get Started</a>
                <ui style="margin: 10px 0px 0px 172px;" onmouseover="open_dropdown_getStarted();" onmouseleave="close_dropdown_getStarted();" class="dropdown" id="dropdown_get-started">
                    <li onclick="location.href = 'https://client.falixnodes.net/'"><i class="fas fa-user"></i> Client Panel</li>
                    <li onclick="location.href = 'https://panel.falixnodes.net/'"><i class="fas fa-stream"></i> Game Panel</li>
                </ui>
            </div>
        </div>
    </div>
</header>