<head>
    <title>{{page.title}}</title>

    <meta charset="utf-8">
    <meta name="theme-color" content="#2970cc">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/master.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/fonts.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/animation.css">

    <link rel="icon" type="image/png" sizes="256x256" href="{{site.baseurl}}/assets/images/favicon/256x256.webp">
    <link rel="icon" type="image/png" sizes="64x64" href="{{site.baseurl}}/assets/images/favicon/64x64.webp">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/images/favicon/32x32.webp">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/images/favicon/16x16.webp">

    <script src="https://kit.fontawesome.com/fc093d7fbf.js" crossorigin="anonymous"></script>
    <script src="{{site.baseurl}}/assets/js/include.js"></script>
    <script src="{{site.baseurl}}/assets/js/mobile-menu.js"></script>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PLPMR3K');
    </script>
</head>