/* SIL OPEN FONT LICENSE: https://falixnodes.net/assets/fonts/Poppins/OFL.txt */
/* Poppins was downloaded from Google Fonts: https://fonts.google.com/specimen/Poppins */
@font-face {
    font-weight: normal;
    font-family: Poppins;
    src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-weight: lighter;
    font-family: Poppins;
    src: url(/assets/fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
    font-weight: bold;
    font-family: Poppins;
    src: url(/assets/fonts/Poppins/Poppins-Bold.ttf);
}