body {
    background: #0f1d2d;
    color: white;
    font-family: 'POPPINS';
    overflow-x: hidden !important;
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0px;
    background: transparent;
    z-index: 10;
    backdrop-filter: unset;
    transition: 0.4s background;
}

::-webkit-scrollbar {width: 0px;}
::selection {background:inherit; color: rgba(255, 255, 255, 0.25)
}
*:focus {outline: none;}
a {color: #2970cc;}
button {font-family: 'POPPINS';}

button#btn {
    color: white;
    background: #2970cc;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

/* Support for mobile */
.mobile_menu {
    display: none;
}
button#mobile_menu {
    color: white;
    background: transparent;
    border: none;
    font-size: 20px;
    margin-top: 4px;
}
div#mm {
    background: #0b1725;
    position: fixed;
    top: 72px;
    right: 0px;
    text-align: left;
    width: 290px;
    font-size: 16px;
    padding: 20px 0px 20px 30px;
    border-radius: 7px;
}
div#mm li {
    list-style: none;
    margin: 13px 0px;
}

@media only screen and (max-width:550px) {
    .posts {grid-template-columns: auto !important;}

    .frq, .gwo-games {grid-template-columns: auto !important; grid-gap: 25px !important;}
    .posts {grid-template-columns: auto !important;}
    .card {
        width: 210px !important;
        height: 180px !important;
    }
    .card img {width: 199px !important;}
    .card h1 {margin: 127px 22px -169px 12px !important;}
    a#ges {font-size: 14px;}
    a#ges {
        margin: -8px 0px 0px -137px !important;
        position: absolute !important;
        padding: 12px 20px !important;
    }

    header {
        position: fixed;
        width: calc(100% - 30px);
        height: 80px;
        top: 10px;
        left: 0px;
        background: transparent;
        z-index: 10;
        backdrop-filter: unset;
        border-radius: 7px;
        margin: 12px;
    }
    .c-list {
        margin-top: 20px !important;
        display: grid !important;
        text-align: left !important;
        position: absolute !important;
        left: 50% !important;
        transform: translate(-50%) !important;
        width: 350px !important;
    }
}


@media only screen and (min-width:1081px){
    .mobile_only {display: none;}
}

@media only screen and (max-width:1080px){
    .members {
        grid-template-columns: inherit !important;
    }
    .member {width: inherit !important;}

    .se_content {
        width: 400px !important;
        grid-template-columns: 500px !important;
    }
    .mobile_only section {
        height: 490px !important;
    }
    .se_img {
        width: 400px !important;
        margin-top: 0px !important;
    }
    section#rtl .se_text {
        margin-left: 102px !important;
    }
    .se_content button {
        margin-bottom: 20px !important;
    }

    section#hero {background-size: 260% !important;}
    .desktop_only {display: none;}
    .sections {width: 100% !important;}
    .h_content, .f_content, .article {
        width: calc(100% - 50px) !important;
    }
    .doc {
        width: calc(100% - 50px);
        margin-left: 30px;
    }
    .f_grid{grid-template-columns: 100% !important; grid-gap: 0px !important;}
    .posts{grid-template-columns: auto auto !important;}
    section#blog {height: 460px !important;}
}

/* Header */
.h_content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 1000px;
}
.h_left {
    font-family: 'POPPINS';
    position: absolute;
    top: -6px;
    cursor: default;
}

.h_right {
    position: absolute;
    top: 25px;
    right: 0px;
    text-align: right;
    display: flex;
}
.h_right a {
    font-family: 'POPPINS';
    color: white;
    text-decoration: none;
    margin-left: 30px;
    cursor: pointer;
    font-size: 14px;
}
a#ges {
    background: #2970cc;
    border-radius: 200px;
    padding: 7px 11px;
}

ui#dropdown_apps {
    display: none;
}
ui#dropdown_get-started {
    display: none;
}

/*** Dropdowns ***/
/** Styling **/
.dropdown {
    background: #0B1725;
    position: absolute;
    margin: 10px 0px 0px 90px;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: left;
}
.dropdown::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 26px;
    top: -20px;
    left: 0px;
}
.dropdown li {
    padding: 6px 0px;
    list-style: none;
    cursor: pointer;
}
.dropdown li:hover {
    filter: brightness(0.8);
}
.dropdown i {
    margin: 0px 10px 0px 3px;
}

/*** Sections ***/
.sections {
    position: absolute;
    top: 600px;
    width: 1000px;
    left: 50%;
    transform: translate(-50%);
}
section {
    height: 300px;
}

section h1 {pointer-events: none;}
section p {pointer-events: none;}
section img {pointer-events: none;}
section video {pointer-events: none;}

.se_content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 1000px;
    display: grid;
    grid-template-columns: 500px 500px;
}
.se_text {
    margin-top: 35px;
}
.se_text p {
    width: 400px;
}
.se_img {
    background: transparent;
    width: 500px;
    margin-top: 37px;
    height: 225px;
    border-radius: 7px;
}
.se_img img {
    border-radius: 7px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
/** Hero **/
section#hero::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 60%);
    z-index: 4;
}
section#hero {
    background: url(https://files.catbox.moe/vqmgmk.webp);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1.2s background-size ease;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 600px;
    z-index: 3;
    animation: 4s heroZoomOut;
}

.sh_ {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    z-index: 5;
}

/** Footer **/
.f_grid {
    display: grid;
    grid-template-columns: 750px 220px;
    grid-gap: 20px;
}
.f_content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.f_content h1 {
    font-size: 20px;
}
section#footer a {
    display: block;
    color: white;
}
p#social-icons {
    cursor: default;
    display: flex;
    pointer-events: all;
}
p#social-icons i {
    margin-right: 10px;
    cursor: pointer;
}








section#rtl p {width: fit-content;}
section#rtl .se_text {margin-left: 50px;}
section#rtl h1 {direction: ltr;}
.db_stats {display: inline-flex;}
.dbs_users, .dbs_servers {margin: 0px 30px;}


.posts {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.posts {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    margin-top: 40px;
}

.posts button {
    position: absolute;
    right: 13px;
    bottom: -46px;
    background: #2970cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}
.posts button i {margin-left: 7px; cursor: pointer;}

.card {
    width: 240px;
    height: 210px;
    background: #1c2e42;
    border-radius: 7px;
    margin-right: 12px;
    cursor: pointer;
    margin-bottom: 10px;
}
.card:hover {filter: brightness(0.8)}
.card img {position: absolute;width: 230px;border-radius: 7px;margin: 5px;}
.card h1 {
    font-size: 14px;
    margin: 150px 22px -192px 12px;
    bottom: 30px;
}
.card h2#date {
    font-size: 12px;
    opacity: 0.2;
    font-weight: normal;
    width: 100%;
    margin: 10px 12px;
    position: absolute;
    bottom: 15px;
    display: none;
}

.article {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 100px;
    width: 1000px;
}

img#thumbnail {
    width: 100%;
    border-radius: 7px;
    margin-bottom: 20px;
    pointer-events: none;
}


div#dropdown_getStarted {
    position: absolute;
    background: #1d2a43;
    width: 170px;
    right: 0px;
    border-radius: 10px;
    margin-top: 12px;
}

div#dropdown_getStarted a {
    background: #413e5e;
    padding: 10px 20px;
    border-radius: 10px;
    display: flow-root;
    text-align: left;
    margin: 10px;
    font-size: 12px;
}

div#dropdown_getStarted a i {
    margin-right: 10px;
}

section#faq {
    height: auto;
    background: #1c2e42;
    padding: 50px;
    border-radius: 10px;
}

.frq {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px 100px;
}


#gwo {
    background: #1c2e42;
    border-radius: 10px;
    padding-top: 20px;
    margin-top: 25px;
  }
#gwo h1 {
    text-align: center;
}
.gwo-games {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px 50px 50px 50px;
}
.gwo-games h2 {
    margin: inherit;
    padding: inherit;
    font-size: 20px;
}
.gwo-game {margin-bottom: 20px;}
.gwo-game i {margin-right: 7px;}
.gwo-game li {
    list-style: disclosure-closed;
    margin-left: 20px;
}
.c-list {
  text-align: center;
  font-size: 30px;
  margin-top: 80px;
}
.c-list a {
  text-decoration: none;
  font-weight: bold;
  margin: 0px 30px;
}
.c-list a:hover {
  text-decoration: underline;
}

.member {
    background: #283648;
    border-radius: 20px;
    width: 400px;
    height: fit-content;
    padding: 20px;
}
.top {
    display: flex;
}
.top img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 20px;
}
.top {
}
.top h1 {
    margin: 12px 0px 0px 0px;
}
.top h2 {
    margin: 54px 0px 0px 110px;
    position: absolute;
    font-size: 14px;
    font-weight: normal;
}

.bottom {
    background: #1f2c3c;
    margin: 20px -20px -40px -20px;
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
}
.members {
    display: grid;
    grid-template-columns: 440px 440px;
    grid-gap: 40px;
    pointer-events: none;
}
#role {
    opacity: 0.5;
    font-size: 14px;
}
#discord {
    opacity: 0.5;
}
#partner::before {
    content: "Partner";
    background: purple;
    border-radius: 50px;
    padding: 0px 10px;
    position: absolute;
    margin: 80px 0px 0px 14px;
    font-weight: bold;
    font-size: 12px;
}