{% include header.html %}
<div style="top: 77px" class="sections">
    <section id="blog">
        <div class="posts">
            {% for post in site.posts %}
            <div onclick="location.href = '{{ post.url }}'" class="card">
                <h1>{{ post.title  | truncatewords: 7 }}</h1>
                <h2 id="date">{{ post.date }}</h2>
                <img src="{{ post.image }}">
            </div>
            {% endfor %}
        </div>
    </section>
{% include footer.html %}
<style>
.f_content {margin-top: 260px}
</style>
<script>
    const event11 = window.addEventListener('scroll', function(e) {
        if(this.scrollY < 50) {
            document.getElementById('h_').style.background = 'transparent';
            document.getElementById('h_').style.backdropFilter = 'unset';
        } else {
            document.getElementById('h_').style.background = 'rgb(41 112 204 / 75%)';
            document.getElementById('h_').style.backdropFilter = 'blur(20px) contrast(0.8)';
        }
    });
</script>