{% include header.html %}
<div class="error-container">
    <div class="heading">
        <h1>{{page.icon}} {{page.title}}</h1>
    </div>
    <div class="error-content">
        <div class="scrollable">
            <p>{{page.error}}</p>
        </div>
    </div>
</div>
<style>
:root {
    --accent: #2970cc;
}

body {
    background: #0f1d2d;
    color: white;
    font-family: 'POPPINS';
    overflow-x: hidden !important;
}

::-webkit-scrollbar {background: #0f1d2d;}
::-webkit-scrollbar-thumb {background: var(--accent);}
::selection {background:inherit; color:inherit}
*:focus {outline: none;}
a {color: #2970cc;}
.error-container {pointer-events: none;}

@keyframes fadeInUp {
    from {
        opacity: 0;
        margin-top: 25px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width:510px) {
    .error-container {
        width: calc(100% - 50px) !important;
    }
    .error-container {
        position: absolute !important;
        top: 130px !important;
        left: 50% !important;
        transform: translate(-50%) !important;
    }
    .error-container::before {
        content: "";
        position: absolute;
        bottom: 0px;
        padding: 60px;
        margin-bottom: -20px;
        pointer-events: none;
    }
}

.error-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1c2e42;
    border: 2px var(--accent) solid;
    width: 500px;
    animation: 1s fadeInUp ease;
}

.heading {
    background: #19283a;
    width: 100%;
    margin: 1px 0px 0px 0px;
    padding: 1px 0px;
}
.heading h1 {
    margin-left: 20px;
    font-size: 24px;
    animation: 1.2s fadeIn ease;
}
.heading i {
    margin-right: 10px;
}

.error-content {
    width: calc(100% - 50px);
    margin-left: 30px;
    animation: 1.2s fadeIn ease;
}
.footer-button {
    text-align: right;
}
.footer-button button {
    color: white;
    background: #2970cc;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    right: 20px;
    margin-bottom: 17px;
}

</style>