<!DOCTYPE html>
<html>
    {% include head.html %}
    {% include header.html %}
    <body>
        <div class="content">
            <section>
                <div class="plans">
                    <div class="plan">
                        <div class="info-plan">
                            <h1>Free</h1>
                            <span id="price">£0/m</span>
                        </div>
                        <div class="perks-plan">
                            <ui>
                                <li>AMD Ryzen 9 5950X</li>
                                <li>2 Servers Slot</li>
                                <li>100% CPU Power/each</li>
                                <li>2GB Memory</li>
                                <li>2 Backups Space/each</li>
                                <li>4 Databases*</li>
                                <li>20GB Disk Space*</li>
                            </ui>
                        </div>
                        <div class="button-plan">
                            <button>Get Started</button>
                        </div>
                    </div>
                    <div class="plan">
                        <div class="info-plan">
                            <h1>Starter</h1>
                            <span id="price">£2.50/m</span>
                        </div>
                        <div class="perks-plan">
                            <ui>
                                <li>AMD Ryzen 9 5950X</li>
                                <li>2 Servers Slot</li>
                                <li>100% CPU Power/each</li>
                                <li>4GB Memory</li>
                                <li>4 Backups Space/each</li>
                                <li>Unlimited Databases*</li>
                                <li>Unlimited Ports*</li>
                                <li>Unlimited Disk Space*</li>
                                <li>Premium Location (Germany)</li>
                                <li>Ad-Free</li>
                                <li>MOTD Ad Removal</li>
                                <li>24/7 Online</li>
                                <li>Access to upcoming features</li>
                            </ui>
                        </div>
                        <div class="button-plan">
                            <button>Purchase Now</button>
                        </div>
                    </div>
                    <div class="plan">
                        <div class="info-plan">
                            <h1>Advanced</h1>
                            <span id="price">£5/m</span>
                        </div>
                        <div class="perks-plan">
                            <ui>
                                <li>AMD Ryzen 9 5950X</li>
                                <li>4 Servers Slot</li>
                                <li>200% CPU Power/each</li>
                                <li>8GB Memory</li>
                                <li>6 Backups Space/each</li>
                                <li>Unlimited Databases*</li>
                                <li>Unlimited Ports*</li>
                                <li>Unlimited Disk Space*</li>
                                <li>Premium Location (Germany)</li>
                                <li>Ad-Free</li>
                                <li>MOTD Ad Removal</li>
                                <li>24/7 Online</li>
                                <li>Access to upcoming features</li>
                            </ui>
                        </div>
                        <div class="button-plan">
                            <button>Purchase Now</button>
                        </div>
                    </div>
                    <div class="plan">
                        <div class="info-plan">
                            <h1>Power</h1>
                            <span id="price">£10/m</span>
                        </div>
                        <div class="perks-plan">
                            <ui>
                                <li>AMD Ryzen 9 5950X</li>
                                <li>8 Servers Slot</li>
                                <li>300% CPU Power/each</li>
                                <li>16GB Memory</li>
                                <li>8 Backups Space/each</li>
                                <li>Unlimited Databases*</li>
                                <li>Unlimited Ports*</li>
                                <li>Unlimited Disk Space*</li>
                                <li>Premium Location (Germany)</li>
                                <li>Ad-Free</li>
                                <li>MOTD Ad Removal</li>
                                <li>24/7 Online</li>
                                <li>Access to upcoming features</li>
                            </ui>
                        </div>
                        <div class="button-plan">
                            <button>Purchase Now</button>
                        </div>
                    </div>
                    <div class="plan">
                        <div class="info-plan">
                            <h1>Ultimate</h1>
                            <span id="price">£20/m</span>
                        </div>
                        <div class="perks-plan">
                            <ui>
                                <li>AMD Ryzen 9 5950X</li>
                                <li>16 Servers Slot</li>
                                <li>400% CPU Power/each</li>
                                <li>32GB Memory</li>
                                <li>10 Backups Space/each</li>
                                <li>Unlimited Databases*</li>
                                <li>Unlimited Ports*</li>
                                <li>Unlimited Disk Space*</li>
                                <li>Premium Location (Germany)</li>
                                <li>Ad-Free</li>
                                <li>MOTD Ad Removal</li>
                                <li>24/7 Online</li>
                                <li>Access to upcoming features</li>
                            </ui>
                        </div>
                        <div class="button-plan">
                            <button>Purchase Now</button>
                        </div>
                    </div>
                </div>
                <p>* - There is no software limit though it is still being limited by hardware limitations.</p>
            </section>
            <section>
                {% include footer.html %}
            </section>
        </div>
    </body>
    <script>includeHTML()</script>
</html>

<style>#individual-link-mainwebsite{display: none;}</style>